@import url('https://rsms.me/inter/inter.css');
.theme-dark {
  --text-positive: #6ee1b6;
}
.theme-light {
  --text-positive: #2ac88d;
}
:root {
  --channeltextarea-background: var(--background-tertiary);
  --radio-bar-accent-color: transparent;
  --deprecated-text-input-bg: var(--background-secondary);
  --deprecated-text-input-border-disabled: var(--background-secondary);
  --text-brand: var(--brand-experiment);
}
.tabBody_c2739c, .chat_a7d72e, .container_ee69e0, .container_bf550a, .privateChannels_f0963d, .homeWrapperNormal_d175a8 {
  background-color: var(--background-tertiary);
}
.peopleColumn_c2739c, .chatContent_a7d72e:not(.container_d1c246 *), .pageWrapper_a3a4ce, .scroller__244e5, .stageSection-3mAD8V {
  border-radius: var(--border-radius-1);
  margin-left: 10px;
  background-color: var(--background-primary) !important;
}
.numberBadge_df8943 {
    --status-danger: var(--accent-color);
}
.scroller_c47fa9 {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
}
.scroller_c43953 {
  background-color: var(--background-secondary);
}
.chatContent_a7d72e, .sidebar_a4d4d9, .tabBody_c2739c, .pageWrapper_a3a4ce, .stageSection-3mAD8V, .applicationStore_cecc86 {
  margin-bottom: 10px;
}
.scroller_bb12d2 {
  margin-bottom: 24px;
}
.pageWrapper_a3a4ce, .content_a7d72e, .applicationStore_cecc86 {
  margin-right: 10px;
}
.channel_c91bad {
  margin-right: 8px;
}
.container_fc4f04.themed_fc4f04, .container_fd6364 {
  background-color: var(--background-tertiary);
}
.communityInfoContainer_fd6364 {
  margin-top: -22px !important;
  margin-left: 130px;
}
.toolbar_fc4f04 .icon_fc4f04 {
  width: 22px;
  height: 22px;
}
.theme-dark .toolbar_fc4f04 .icon_effbe2 {
  color: var(--interactive-normal);
}
.theme-light .toolbar_fc4f04 .icon_fc4f04, .theme-light .toolbar_fc4f04 .icon_effbe2 {
  color: var(--text-normal);
}
.toolbar_fc4f04 .iconContainer_effbe2 {
  width: 20px;
  height: 20px;
}
.inviteToolbar_c2739c>div {
  padding: 7px 7px 29px 10px !important;
  border-radius: var(--border-radius-1) 0px 0px var(--border-radius-1);
  background-color: var(--button-background);
  margin: 1px;
}
.toolbar_fc4f04 .clickable_fc4f04 {
  padding: 7px 7px 29px 7px;
  background-color: var(--button-background);
  margin: 1px;
}
.icon_f542fc {
  align-items: normal;
  display: flex;
}
.toolbar_fc4f04 .clickable_fc4f04:hover {
  background-color: var(--button-background-hover);
}
.topControls_dd069c.controlSection_dd069c>div>div>section>.toolbar_fc4f04>.button_ae6b8e.iconWrapper_fc4f04.clickable_fc4f04 {
  background-color: transparent !important;
}
.topControls_dd069c.controlSection_dd069c>div>div>section>.toolbar_fc4f04>.button_ae6b8e.iconWrapper_fc4f04.clickable_fc4f04>svg {
  color: var(--settings-icon-color) !important;
}
.toolbar_fc4f04>:first-child:not(.inviteToolbar_c2739c):not(.streamQualityIndicator-1QvbXd), .streamQualityIndicator-1QvbXd+.clickable_fc4f04 {
  border-radius: var(--border-radius-1) 0px 0px var(--border-radius-1);
}
.toolbar_fc4f04>:only-child {
  border-radius: var(--border-radius-1) !important;
}
.toolbar_fc4f04>:last-child>div, .toolbar_fc4f04>:last-child {
  border-radius: 0 var(--border-radius-1) var(--border-radius-1) 0;
}
.streamQualityIndicator-1QvbXd {
  order: -2;
  margin-right: 8px;
}
.search_ff5f90 {
  margin: 1px 4px 1px 1px;
  order: -1;
}
.search_a46bef:not(.open_a46bef) .DraftEditor-root {
  transition: opacity 150ms;
  opacity: 0;
}
.search_a46bef.open_a46bef .DraftEditor-root {
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-2);
  margin-right: 8px;
  transition: opacity 150ms;
  border: 2px solid var(--background-secondary);
}
.search_a46bef:not(.open_a46bef) .searchBar_a46bef {
  width: 40px;
}
.search_a46bef.open_a46bef .searchBar_a46bef {
  width: 281px;
}
.searchBar_a46bef {
  background-color: transparent;
  height: 36px;
}
.searchBar_a46bef .icon_a46bef {
  background-color: var(--button-background);
  border-radius: var(--border-radius-1);
  height: 36px;
  width: 36px;
}
.public-DraftEditorPlaceholder-root {
  padding: 4px !important;
}
.DraftEditor-editorContainer {
  margin: 4px;
}
.search_a46bef.open_a46bef .icon_a46bef {
  background-color: var(--background-modifier-selected);
}
.search_a46bef.open_a46bef .icon_effbe2, .search_a46bef.open_a46bef .icon_a46bef:hover .icon-3cZ1F {
  color: var(--interactive-selected) !important;
}
.search_a46bef .icon_a46bef {
  transition: background-color 150ms;
}
.search_a46bef .icon_effbe2 {
  transition: color 150ms;
}
.searchFilter_b0fa94 {
  background-color: var(--background-modifier-hover) !important;
}
.spine_e1e976 {
  color: var(--text-muted);
}
.container_d1c246 {
  margin: 0 10px 10px 0;
  background: none;
}
.container_d1c246 .chat_f57fdc {
  border-radius: var(--border-radius-1);
  background-color: var(--background-primary);
}
.chatHeaderBar_e2f46e {
  background: none;
}
:root {
  --text-danger: var(--button-destructive);
  --status-danger-background: var(--button-destructive);
}
.colorDanger-3n-KnP .checkbox-hADx5o, .colorDanger-3n-KnP .radioSelection-1UHp0b, .side-2ur1Qk .item-3XjbnG[aria-controls='logout-tab'], .lookLink-15mFoz.colorRed-rQXKgM, .fixed-3zCC84, .strikethrough_b2ca13, .deny_d25d19:not(.selected_d25d19), .clearIcon-3PdJSy, .colorDanger-3n-KnP .icon-E4cW1l {
  color: var(--button-destructive) !important;
}
.colorDanger-3n-KnP:hover, .colorDanger-3n-KnP .checkbox-hADx5o:hover, .colorDanger-3n-KnP .radioSelection-1UHp0b:hover, .item-3XjbnG[aria-controls='logout-tab']:hover {
  color: var(--button-destructive-hover) !important;
}
.colorDanger-3n-KnP:active:not(.hideInteraction-liH010), .colorDanger-3n-KnP .checkbox-hADx5o:active, .colorDanger-3n-KnP .radioSelection-1UHp0b:active, .item-3XjbnG[aria-controls='logout-tab']:active {
  color: var(--button-destructive-active) !important;
}
.lookLink-15mFoz.colorRed-rQXKgM>div, .warning-3qyw2h, .doesNot-36YbF_, .pruneLink-3V7wes, .colorDanger-3n-KnP, .cross-22YsmA, .error_e18e73, .erroredPill-3AqGmL {
  color: hsl(0, 94%, 74%) !important;
}
.descriptionSection-3RrpaD>div>svg>path, path[d^="M7.02799 0.333252C3.346"] {
  fill: var(--button-destructive);
}
.item-3XjbnG[aria-controls='logout-tab'] {
  background-color: transparent;
}
.fixed-3zCC84::after, .deny_d25d19.selected_d25d19, .uploadDropModal_f82cc7.error_f82cc7 {
  background-color: var(--button-destructive) !important;
}
.clearButton-3-toB6 {
  opacity: 1;
}
.powercord-spotify .container_b2ca13 .avatarWrapper_b2ca13 {
  margin-left: 2px;
}
.wrapper_adcaac {
  margin: 0px 2px;
}
#status-picker {
  margin-left: 2px;
}
.nowPlayingColumn_c2739c, .container_c2739c {
  background-color: var(--background-tertiary) !important;
}
.button_adca65.enabled_adca65:hover {
  background-color: var(--background-modifier-hover) !important;
}
.button_adca65.enabled_adca65:hover>div>svg {
  color: var(--interactive-hover) !important;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ, .lookFilled-yCfaCM.colorGrey-2iAG-B, .lookFilled-yCfaCM.colorPrimary-2AuQVo, .button__33db6, .button_a50047, .questionMark-3V9mGJ, .optionBox-1UOevl, .lookFilled-yCfaCM.colorBrandNew-2-gGsS {
  background-color: var(--button-background) !important;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover, .lookFilled-yCfaCM.colorGrey-2iAG-B:hover, .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover, .lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover {
  background-color: var(--button-background-hover) !important;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active, .lookFilled-yCfaCM.colorGrey-2iAG-B:active, .lookFilled-yCfaCM.colorPrimary-2AuQVo:active, .lookFilled-yCfaCM.colorBrandNew-2-gGsS:active {
  background-color: var(--button-background-active) !important;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79, .topPill-3DJJNV .item-3XjbnG[aria-controls="ADD_FRIEND-tab"], .lookOutlined-3yKVGo.colorGreen-3y-Z79, .lookFilled-yCfaCM.colorWhite-1H92hK {
  background-color: var(--button-accent) !important;
  color: var(--interactive-selected) !important;
  border: none;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
  background-color: var(--button-accent-hover);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:active {
  background-color: var(--button-accent-active);
}
.lookFilled-yCfaCM.colorRed-rQXKgM, .bd-button.bd-button-danger {
  background-color: var(--button-destructive);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
  border-color: var(--button-destructive);
  background-color: #FB7C7C38;
}
.theme-dark .lookOutlined-3yKVGo.colorRed-rQXKgM {
  color: #fff;
}
.theme-light .lookFilled-yCfaCM.colorBrand-I6CyqQ {
  color: var(--text-normal);
}
.lookFilled-yCfaCM.colorRed-rQXKgM:hover, .lookOutlined-3yKVGo.colorRed-rQXKgM:hover, .bd-button.bd-button-danger:hover {
  background-color: var(--button-destructive-hover);
}
.lookFilled-yCfaCM.colorRed-rQXKgM:active, .lookOutlined-3yKVGo.colorRed-rQXKgM:active, .bd-button.bd-button-danger:active {
  background-color: var(--button-destructive-active);
}
.theme-light .lookOutlined-3yKVGo.colorRed-rQXKgM:active, .theme-light .lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
  color: var(--background-secondary);
}
.button_dd4f85:not(.participantsButton_a5ee52):not(.centerButton_ef18ee), .phoneField_f26de7 .countryButton_f26de7, .button__33db6, .button_a50047, .questionMark-3V9mGJ, .optionBox-1UOevl {
  border-radius: var(--border-radius-2);
}
.colorable_ef18ee.red_ef18ee {
  background: var(--button-destructive);
}
.colorable_ef18ee.red_ef18ee:hover {
  background: var(--button-destructive-hover);
}
.colorable_ef18ee.red_ef18ee:active {
  background: var(--button-destructive-active);
}
.button__33db6, .button_a50047 {
  border-color: transparent !important;
}
.bd-button, .bd-view-button {
  border-radius: var(--border-radius-2);
}
.bd-addon-button>svg, .bd-view-button.selected>svg {
  fill: var(--interactive-selected) !important;
}
.bd-controls>.bd-addon-button:first-of-type {
  border-radius: var(--border-radius-2) 0px 0px var(--border-radius-2);
}
.bd-controls>.bd-addon-button:last-of-type {
  border-radius: 0px var(--border-radius-2) var(--border-radius-2) 0px;
}
.bd-addon-views .bd-view-button.selected {
  background-color: var(--button-accent);
  color: var(--interactive-selected);
}
.bd-button {
  background-color: var(--button-accent);
  color: var(--interactive-selected);
}
.bd-button:hover {
  background-color: var(--button-accent-hover);
}
.bd-button:active {
  background-color: var(--button-accent-active);
}
.checkboxElement-uwAa9F:checked+span, .checked-1pZh2h .checkbox-f1HnKB {
  background-color: var(--background-modifier-selected) !important;
  border-color: var(--background-modifier-selected) !important;
}
.checkbox-f1HnKB {
  background-color: var(--switch);
  border: none;
  border-radius: 6px;
}
.checkboxElement-uwAa9F:checked+span::after {
  border-color: var(--interactive-selected) !important;
}
.checked-1pZh2h .checkbox-f1HnKB>svg>path, .check-3HZJs4 {
  fill: var(--interactive-selected);
}
.categoryItem_c72b37 {
  margin-right: 8px;
}
.card_e90879, .searchBox__56feb, .searchBox__56feb *, .container_f11cbf {
  background-color: var(--background-tertiary) !important;
}
.selectedCategoryItem_c72b37 .itemInner_c72b37 {
  background-color: var(--background-modifier-selected) !important;
}
.selectedCategoryItem_c72b37, .categoryPill-1zjNrr.selected-bLcqYK .categoryLabel-2m4AT-, .addButton_f11cbf {
  color: var(--interactive-selected) !important;
}
.inputDefault-3FGxgL {
  color: var(--text-normal) !important;
}
.scroller-3j5xK2 {
  padding: 32px !important;
}
.searchBox__56feb {
  border-radius: var(--border-radius-1);
  box-shadow: none !important;
}
.tag-2QQBcz {
  background-color: var(--background-secondary) !important;
  color: var(--text-normal);
  border-radius: 22px;
}
.tag-2QQBcz:hover {
  background-color: var(--background-modifier-hover) !important;
  color: var(--text-normal);
}
.scroller_a39aa3 {
  margin: 0 10px 10px;
  border-radius: var(--border-radius-1);
  height: unset;
}
.headerImage_a39aa3, .container_f11cbf {
  border-radius: var(--border-radius-1);
}
.sidebarRegionScroller_c25c6d, .titleContainer_e87574, .header_bd05f1, .contentRegion_c25c6d, .contentRegionScroller_c25c6d, .scroller_ff90b2, .powercord-entities-manage-tabs, .popoutInfo-16MuYF {
  background-color: var(--background-tertiary) !important;
}
#app-mount .app_bd26cc .app_a01fb1 .layers_d4b6c5 .sidebarRegion_c25c6d .sidebar_c25c6d {
  width: 290px !important;
  padding-right: 40px;
  padding-left: 40px;
}
.sidebarRegion_c25c6d {
  border-right: 1px solid var(--border-color);
}
.side-2ur1Qk .item-3XjbnG, .container_e61cfb, .accountBtnInner-3XK70s, .group_d25d19, .item_b119de {
  border-radius: var(--border-radius-2);
}
.sidebarRegion_c25c6d {
  flex: 0 0 auto;
}
.contentColumn_c25c6d, .customColumn_c25c6d, .customScroller_c25c6d>div {
  max-width: unset !important;
}
.radioBar-3w9XY- {
  border-left: transparent;
}
.radioIconForeground-2BMavi {
  color: var(--interactive-selected);
  r: 9px;
}
.radioBar-3w9XY->svg {
  color: var(--border-color);
}
.item-2idW98[aria-checked=true] .radioBar-3w9XY->svg>:first-child {
  color: transparent !important;
}
.userSettingsSecurity-3C5Hg5 .lockIcon-1FHuKP, .avatarUploaderIndicator-2G-aIZ {
  display: none;
}
:root {
  --settings-logout: var(--button-destructive);
  --settings-guild-delete: var(--button-destructive);
  --status-danger: var(--button-destructive);
  --status-positive: var(--text-positive);
  --status-positive-background: var(--text-positive);
  --status-positive-text: var(--interactive-selected);
  --info-warning-background: var(--background-secondary);
}
.syncIcon-3lhuwS path {
  fill: var(--status-positive);
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"], .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"] {
  color: var(--button-destructive) !important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:hover, .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:hover {
  color: var(--button-destructive-hover) !important;
  background-color: var(--background-modifier-hover) !important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:hover::before, .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:hover::before {
  --settings-icon-color: var(--button-destructive-hover);
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:active, .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:active {
  color: var(--button-destructive-active) !important;
  background-color: var(--background-modifier-active) !important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="delete-tab"]:active::before, .side-2ur1Qk .item-3XjbnG[aria-controls="logout-tab"]:active::before {
  --settings-icon-color: var(--button-destructive-active);
}
.powercord-product, .container__33507, .attendeeCTA-1R6USz, .input-2g-os5, .item-2idW98, .powercord-entities-manage-tabs, .powercord-account, .activeGame-3ncS55, .formNotice-2nS8ey, .css-118dehu-control, .previewContainer-37c2Si, .auditLog_eebd33, .background_b69b77, .roleRow_a930f1, .bd-addon-card, .membershipDialogHouse2-2W27iJ, .codeRedemptionRedirect-3SBiCp, .card-o7rAq-, .enableContainer-1J91Aq, .accountList-305sx3, .container_cc7b67, .feature-2IUcBI, .details-1YZMDP>div, .preview-38jjUi, .profileBannerPreview-3FLQKD, .card_ffe375:before, .card-3IImnr, .card-11DMwv, .previewContainer-1SS3uO, .error-3AuLwi, .warning_bc1f7a, .membershipDialog-2wAdpQ, .videoWrapper_b8e00f, .background-2hs1sP, .box-J4N4jE, .info-1Vr1AV, .bannerUpsellContainer-1q83km, .avatarUploaderInnerSquare-2QeuHkin, .upsellContainer-3qKRln, .card_ea2a21, .card_adb740, .card_f925ba, .card_dedfd1 {
  border-radius: var(--border-radius-1) !important;
}
.avatarUploaderInner-yEhTv5:not(.bannerUploaderInnerSquare-1ddxpx), .codeRedemptionRedirect-3SBiCp, .auditLog_eebd33, .card-o7rAq-, .activeGame-3ncS55, .cardPrimary-3qRT__, .card-2gdrYL, .profileBackgroundPreview-3BVL0Q, .profileBannerPreview-3FLQKD .avatar-2PN2-j, .card-3IImnr, .card-11DMwv, .notEnoughMembersError-1KwJkE, .accountProfileCard_b69b77, .info-1Vr1AV, .card_ea2a21, .card_adb740, .card_f925ba, .card_dedfd1 {
  background-color: var(--background-secondary) !important;
}
.container_e61cfb {
  background-color: var(--deprecated-text-input-bg) !important;
}
.item-2idW98[aria-checked=true], .option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-selected);
}
.background_b69b77 .lookFilled-yCfaCM.colorGrey-2iAG-B {
  color: var(--text-normal);
}
.card_ffe375:before {
  background-color: var(--background-modifier-hover) !important;
}
.contentColumnDefault_c25c6d {
  padding: 60px 0 80px 57px;
}
.side-2ur1Qk .item-3XjbnG:not([aria-controls="Logout-tab"i]):not([aria-controls="delete-tab"])::before {
  color: var(--settings-icon-color);
}
.bd-social-logo path, .foreground-2hyALB {
  fill: var(--settings-icon-color) !important;
}
.closeButton_df5532 {
  background-color: var(--button-background);
  border-radius: var(--border-radius-2);
}
.contentRegionScroller_c25c6d .tools_c25c6d {
  position: relative;
  right: 40px;
  top: -5px;
}
.sectionTitle-3j2YI1, .contentColumnDefault_c25c6d .title-3hptVQ {
  padding-bottom: 10px;
}
.notches_e5cdf3 {
  background-image: none !important;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 20'%3E%3Cpath d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
  background: var(--background-tertiary);
}
.progress_e5cdf3 {
  background-color: var(--switch) !important;
}
.container_e5cdf3 {
  background: var(--background-modifier-selected) !important;
}
.profileBannerPreview-3FLQKD .avatar-2PN2-j, .card-3IImnr, .card-11DMwv, .auditLog_eebd33, .warning_bc1f7a, .info-1Vr1AV {
  border: none;
}
.h2-1EaYVL {
  text-transform: none;
  font-size: 20px;
}
.info-1sUqUG::after {
  content: "Zelk 1.2.2";
  color: var(--text-muted);
  font-size: 12px;
  line-height: 16px;
}
div[role="radiogroup"]+div:not(.disabled-2qTmnp) label::after {
  content: "\A Enabling this setting will cause issues when using Zelk";
  white-space: pre;
  color: var(--text-danger);
  font-size: 14px;
}
div[role="radiogroup"]+.disabled-2qTmnp {
  opacity: .5;
}
.disabled-2qTmnp .title-2dsDLn, .disabled-2qTmnp .container-2nx-BQ {
  cursor: not-allowed;
}
.swatch-35F5kl {
  border-radius: var(--border-radius-2);
}
.breadcrumbArrow__58361 {
  top: -4px;
  position: relative;
}
.profileBannerPreview-3_l0Wd {
  border: 1px solid var(--border-color);
}
.theme-light .side-2ur1Qk .item-3XjbnG.selected-g-kMVV::before {
  background: var(--interactive-selected) !important;
}
.item-3XjbnG .selectedBackground-1qyzak, .notice-5OG6bf {
  background: none;
}
.header_bd05f1 {
  margin-right: 0;
}
.triggerContainer_df95ff {
  border-color: var(--border-color) !important;
}
.input-2g-os5, .lookFilled-1GseHa.select-1Ia3hD {
  border-color: var(--background-tertiary);
}
.item_b119de {
  margin: 0 8px;
}
.card_dedfd1 {
  padding-bottom: 8px;
}
.barFill-2Bh7CX {
  background: var(--background-modifier-selected);
}
.bar-1Bhnl9 {
  background: var(--background-accent) !important;
}
.grabber-2GQyvM {
  width: 24px;
  border-radius: 50px;
  border: 2.5px solid;
  margin-left: -11px;
  background-color: var(--background-primary);
  border-color: var(--background-modifier-selected);
}
.container-2nx-BQ:not([style*="218"]), .bd-switch-checked .bd-switch-body {
  background-color: var(--background-modifier-selected) !important;
}
.container-2nx-BQ, .bd-switch-body {
  background-color: var(--switch) !important;
}
svg.slider-32CRPX svg, .bd-switch-slider>svg {
  display: none;
}
.container-2nx-BQ>svg>rect, .bd-switch-handle {
  fill: var(--interactive-selected);
}
.menu_d90b3d, .quickSelectPopout_abbf45, .bd-select-options, .css-3vaxre-menu, .phoneFieldPopout-3O-1C3, .addGamePopout-3yePJc, .recentMentionsPopout_ddb5b4, .languageSelector_d8e2d0, .container-2O1UgZ {
  border-radius: var(--border-radius-1) !important;
  border: 1px solid var(--border-color) !important;
}
.css-3vaxre-menu, .phoneFieldPopout-3O-1C3, .addGamePopout-3yePJc {
  background-color: var(--background-secondary) !important;
}
.labelContainer-2vJzYL, .item-1OdjEX, .item-1BCeuB, .friend_ebf869 {
  border-radius: var(--border-radius-2);
}
.button_f7e168.selected_f7e168>svg, .languageSelector_d8e2d0 .selected-22ukbQ, .languageSelector_d8e2d0 .selected-22ukbQ:hover {
  color: var(--interactive-selected);
}
.languageSelector_d8e2d0 .selected-22ukbQ:hover {
  background-color: var(--background-modifier-selected);
}
.quickSelectPopoutOption_b852b1, .bd-select .bd-select-option {
  margin: 8px;
  border-radius: var(--border-radius-2);
}
.css-1yz4bi9-option, .css-rzbxvl-option, .css-1ba14n5-option {
  margin: 8px !important;
  width: auto;
  border-radius: var(--border-radius-2);
}
.colorBrand-3cPPsm {
  color: var(--interactive-normal);
}
.colorDefault-CDqZdO.focused-3qFvc8, .item-1BCeuB:hover {
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
}
.colorDefault-CDqZdO:active {
  background-color: var(--background-modifier-active) !important;
}
.theme-light .colorDefault-CDqZdO:active {
  color: var(--text-normal);
}
.colorable_ef18ee.primaryDark_ef18ee, .colorable_ef18ee.red_ef18ee, .centerButton_ef18ee {
  border-radius: 50px;
}
.wrapper_d880dc.minimum_d880dc, .body-3ND3kc {
  background-color: var(--background-tertiary);
}
.container__13b2a section {
  border-radius: var(--border-radius-1);
  background-color: var(--background-tertiary) !important;
  border: 1px solid var(--border-color);
}
.container__13b2a .header-2C89wJ {
  display: none;
}
.activityPanel_a4d4d9 {
  margin-left: 2px;
}
.list_a478e5 .content_d80634 {
  margin-right: 10px;
  border-radius: var(--border-radius-2);
}
.voiceUser_d80634.selected_d80634 .username_d80634 {
  color: var(--interactive-selected) !important;
}
.bottomControls_dd069c>:last-child>div>button {
  padding: 16px;
  background-color: var(--button-background);
  border-radius: 50px;
}
.bottomControls_dd069c>:last-child>div:last-child>button {
  margin-right: 16px;
}
.avatarSpeaking_d80634, .avatarSpeaking-33RRJU, .border_db83a2.speaking_db83a2, .avatar-2EVtgZ.speaking-3K28iH {
  box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px var(--background-secondary);
}
.button_dd4f85>div>svg:not(.clearIcon-3PdJSy) {
  color: var(--settings-icon-color);
}
.colorable_ef18ee.primaryDark_ef18ee {
  background: var(--button-background);
}
.colorable_ef18ee.primaryDark_ef18ee:hover {
  background: var(--button-background-hover);
}
.video_d880dc {
  background-color: var(--background-tertiary);
  border-radius: var(--border-radius-1);
}
.gradientBottom_dd069c, .gradientTop_dd069c {
  display: none;
}
.video_d880dc:not(.fullScreen_d880dc) .videoFrame__5b7f0 {
  margin: 0 10px;
}
.video_d880dc:not(.fullScreen_d880dc) .background_cff728 {
  border-radius: var(--border-radius-1);
  background-color: var(--background-primary) !important;
}
.wrapper_d4fa29 {
  background: #BDE6FB30 !important;
  color: var(--accent-color);
}
.bodyTitle-3FWCs2, .bodyTitle-2Az3VQ, .footer-1N3bR3, .protip-2urNh2 {
  display: none;
}
.footer-3naVBw, .footer-1N3bR3 {
  display: var(--message);
}
.note-1MiCN7 textarea, .note-Go5ZP2 textarea, .note-3M15gE, .userInfoSectionHeader-2mYYun:last-of-type {
  display: var(--notes);
}
.body-1Ukv50 {
  height: calc(100% - 167px);
}
.listRow_e4be58 {
  margin: 2px 8px;
  border-radius: var(--border-radius-1);
}
.body-1Ukv50, .activity-3v9l4T, .avatar-2Vndt_, .headerTop-2y3V6H, .headerTop-3GPUSF, .headerTop-2cWpdB, .activity-fViXj7, .body-2wLx-E, .topSection-13QKHs, .avatar-3QF_VA, .aboutMeSection---MkQa, .footer-3naVBw, .footer-1N3bR3, .bodyInnerWrapper-2bQs1k, .profileBannerPreview-3_l0Wd, .userPopout-2j1gM4 {
  background-color: var(--background-tertiary) !important;
}
.bodyInnerWrapper-2bQs1k {
  padding: 0 8px 0 0;
}
.lookInverted-2mDUMi .contents-3ca1mk {
  color: var(--interactive-selected);
}
.tabBarContainer-sCZC4w {
  border: none;
}
.avatar-2Vndt_, .avatar-3QF_VA, .avatarUploaderInner-Oiob_P, .avatar_b69b77 {
  border-color: var(--background-tertiary);
}
.avatar_b69b77 {
  margin: 7px;
}
.avatar-2Vndt_::before {
  z-index: -1;
}
.avatar_b69b77::before, .avatar-2Vndt_::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: var(--background-tertiary);
  border-radius: 50%;
  top: 54px;
  left: 54px;
}
.avatar-3QF_VA::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--background-tertiary);
  border-radius: 50%;
  top: 80px;
  left: 79px;
}
.avatarPositionPremium-1zPBq9, .avatarUploader-2UF9NL, .avatar_b69b77 {
  top: 16px;
}
.avatar-3QF_VA {
  top: -156px;
}
.headerTop-3GPUSF {
  display: flex;
  justify-content: space-between;
}
.profileBadges_f89da9 {
  position: static;
  flex-wrap: nowrap;
}
.avatar_b69b77+div {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  height: 32px;
  flex-grow: 1;
  justify-content: space-between;
}
.userInfo_b69b77 .container_b64375 {
  margin-right: 8px;
}
.background_b69b77 {
  margin-top: 0;
  padding-top: 0;
}
.headerTop-1PNKck {
  top: 20px;
  justify-content: flex-end;
}
.nameTag-2Nlmsy {
  margin: 24px 290px 24px 24px;
}
.userPopout-2j1gM4 {
  border-radius: var(--border-radius-1);
  border: 1px solid var(--border-color);
}
.root-8LYsGj, .profileBanner_f0f36c, .profileBannerPremium__6fb42, .bannerOverlayProfile-31VOgt {
  width: 650px;
  max-width: none;
}
.root-8LYsGj .tabBar-2hXqzU {
  justify-content: space-between;
}
.root-8LYsGj .tabBarItem_b9fccc:first-child:nth-last-child(2) {
  margin-left: 100px;
}
.root-8LYsGj .tabBarItem_b9fccc:first-child:nth-last-child(2)~.tabBarItem_b9fccc {
  margin-right: 100px;
}
.profileBanner_f0f36c {
  height: 176px;
}
.popoutBanner_c3e427, .bannerNormal__24a0e, .bannerUploaderInnerSquare-1ddxpx {
  height: 122px;
}
.settingsBanner_c3e427 {
  height: 140px;
}
.userInfoSection-2u2hir {
  padding: 0;
}
.userInfo_b69b77 {
  padding-left: 32px;
}
.aboutMeSection---MkQa, .headerTop-3GPUSF {
  padding-top: 16px;
}
.body-2wLx-E {
  padding: 8px 8px 0 16px;
}
.header-S26rhB, .customStatusActivity-WKWGD- {
  margin-left: 8px;
}
.listScroller_e4be58 {
  margin: 0 12px 12px 12px;
}
.userPopout-2j1gM4 .customStatus-3XAoF9, .userPopout-2j1gM4 .aboutMeSection-PUghFQ {
  padding: 0 12px 12px 0;
}
.userInfoSection-2u2hir:nth-child(2) {
  padding-bottom: 16px;
}
.root_f9a4c9[data-user-id="652801938374656013"] .badgeList-2aoHPw::after {
  background-image: url(https://cdn.discordapp.com/attachments/733994170162610178/854785472404520991/badge.png);
  margin: 1px;
  width: 20px;
  height: 20px;
  background-size: contain;
  content: "";
}
.userPopout-2j1gM4[data-user-id="652801938374656013"] .profileBadges_f89da9::after {
  background-image: url(https://cdn.discordapp.com/attachments/733994170162610178/854785472404520991/badge.png);
  margin: 1px;
  width: 17px;
  height: 17px;
  background-size: contain;
  content: "";
  position: relative;
  top: 1px;
}
.applicationInstallButton-taCWKH {
  margin-right: 16px;
  width: -webkit-fill-available;
}
.role_f9575e {
  position: relative;
  overflow: hidden;
  border-radius: 11px;
}
.roleCircle-1EgnFN::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  pointer-events: none;
}
.footer-1fjuF6 {
  border-top: none;
}
.keybind_df5532 {
  display: none;
}
.closeButton_df5532 {
  border-color: transparent !important;
}
.closeButton_df5532>svg>path {
  fill: var(--interactive-active);
}
.topPill-3DJJNV:not(.container_e664f3>div) {
  height: 38px;
  border-radius: var(--border-radius-2);
}
.focusLock-2tveLW .top-K_jibn .item-3XjbnG, .repoHeader-2KfNvH .top-K_jibn .item-3XjbnG, .header_f0cd33 .item-3XjbnG, .searchResultsWrap_c2b47d .tab-2j5AEF, .container_e664f3 .tab_e864e6, .container-2Oqvgx .tab-FftSDB {
  border-radius: var(--border-radius-2);
  padding: 0 25px 0 25px;
  height: 30px;
  border: 0;
}
.contentWrapper_af5dbb .navButton_af5dbb {
  padding: 2px 8px;
  height: 30px;
  flex-grow: 1;
}
.container_e664f3 .tab-1tp4jL {
  border-radius: var(--border-radius-2);
  padding: 0 10px 0 10px;
  border: 0;
}
.contentWrapper_af5dbb .container-23gRWx, .contentWrapper_af5dbb .wrapper_d8cdac, .contentWrapper_af5dbb .wrapper_c6ee36 {
  margin-top: 16px;
}
.container_fc4f04 .topPill-3DJJNV .item-3XjbnG {
  border-radius: var(--border-radius-2);
  margin-top: 4px;
  height: 30px;
}
.container_fc4f04 .topPill-3DJJNV .item-3XjbnG:last-child {
  background-color: var(--button-accent) !important;
  color: var(--interactive-selected) !important;
}
.powercord-entities-manage-tabs .topPill-3DJJNV .item-3XjbnG {
  border-radius: var(--border-radius-2);
  height: 30px;
  padding-top: 5px;
}
.contentWidth_bd05f1 .top-K_jibn .item-3XjbnG, .tabBarItem-1WfvFT {
  border-radius: var(--border-radius-2);
  padding: 5px 25px 0 25px;
  height: 30px;
  border: 0;
}
.tabBarItem_c69589, .tabBarItem_d33b18 {
  border-radius: var(--border-radius-2);
  padding: 5px 8px;
}
.top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG {
  background-color: var(--accent-color);
  color: var(--interactive-selected);
}
.theme-dark .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .theme-dark .top-K_jibn .item-3XjbnG[aria-selected="true"] {
  background-color: var(--tab-selected) !important;
  color: var(--text-normal);
}
.theme-light .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .theme-light .themed-2-lozF.selected-g-kMVV.item-3XjbnG>div:not(.horizontal_dc333f) {
  color: var(--interactive-selected);
  background-color: var(--background-modifier-selected);
}
.theme-light .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover {
  color: var(--interactive-selected);
  background-color: var(--background-modifier-selected);
}
.theme-light .item-3XjbnG:active {
  color: var(--text-normal);
}
.top-K_jibn .item-3XjbnG {
  border: none;
}
.tabBarItem_b9fccc {
  margin-right: 0;
}
.focusLock-2tveLW .tabBarContainer-sCZC4w {
  padding-right: 20px;
}
.container-2Oqvgx .tab-FftSDB {
  text-align: center;
  line-height: 30px;
}
.select_fbe7b1>div, .bd-select, .select_fbe7b1>div>div {
  border-radius: var(--border-radius-1);
  background-color: var(--background-secondary);
  border-color: var(--background-secondary) !important;
}
.select_fbe7b1 div[class$="option"], .select_fbe7b1 div[class$="singleValue"] {
  color: var(--text-normal);
}
.divider_c2654d, .peopleListItem_d51464 {
  border-top: 1px solid var(--border-color);
}
.tabBarContainer-1s1u-z, .userInfoSection-2u2hir+.userInfoSection-2u2hir {
  border-top: transparent;
}
.tabBody_c2739c::before, .divider_fc4f04, .content_a7d72e:before, .chat_fb4810::before, .separator_cd82a7, .pc-connections .connectedAccounts-1YaT2t:empty::before, .divider-1wtgZ3, .divider__93173, .headerBar_d175a8:before, .divider__0c76f {
  display: none !important;
}
.searchBar_f0963d, .header_fd6364, .headerBarContainer-31FKNA, .stickyHeaderElevated_bd05f1 {
  box-shadow: none;
}
.separator-1So4YB {
  border-bottom: thin solid transparent;
}
.guildSeparator-33mFX6 {
  background-color: transparent;
}
.children_fc4f04:after {
  background: transparent !important;
}
.scroller_bf550a {
  border: none;
}
.circleIconButton_db6521 {
  color: var(--accent-color);
  background-color: var(--background-primary);
}
.circleIconButton_db6521.selected_db6521 {
  color: var(--interactive-selected);
  background-color: var(--accent-color);
}
.verified_d082f7 {
  color: var(--accent-color);
}
.iconBackgroundTierNone-3ZkOsa, .iconBackgroundTierOne-2OQMBY, .iconBackgroundTierThree-FWlUL9, .iconBackgroundTierTwo-Eab9L6 {
  color: var(--accent-color);
}
.iconTierOne-s_oiRb, .iconTierTwo-1JOWNK, .iconTierThree-3EAOB7, .icon_d082f7 {
  color: var(--background-tertiary) !important;
}
.listItem-GuPuDH, .guilds_a4d4d9, .wrapper-3Njo_c {
  width: 68px;
}
.expandedFolderBackground-1cujaW {
  left: 10px;
}
.embedFull_b0068a {
  border-left: var(--embed-color);
}
.embedMedia_b0068a, .input_f8b740 {
  border-radius: var(--border-radius-2);
}
.grid_b0068a {
  padding: 0.5rem 1rem 1rem;
}
.reaction_f61c73.reactionMe_f61c73 {
  border-color: var(--background-modifier-selected);
  background-color: var(--background-primary);
}
.replying_d5deea:before {
  background-color: var(--accent-color);
}
.sansAttachButton_d0696b {
  padding-right: 16px;
}
.form_a7d72e {
  padding: 0 24px 0 24px;
}
.sprite_d91a75 {
  filter: none !important;
  transform: none !important;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cdefs/%3E%3Cpath fill='%23bde6fb' d='M17.91 0A18 18 0 0 0 0 18a18 18 0 0 0 18 18 18 18 0 0 0 18-18A18 18 0 0 0 18 0a18 18 0 0 0-.09 0zM12 10a2.5 3.5 0 0 1 2.5 3.5A2.5 3.5 0 0 1 12 17a2.5 3.5 0 0 1-2.5-3.5A2.5 3.5 0 0 1 12 10zm12 0a2.5 3.5 0 0 1 2.5 3.5A2.5 3.5 0 0 1 24 17a2.5 3.5 0 0 1-2.5-3.5A2.5 3.5 0 0 1 24 10zM8.72 19.97c.1 0 .2.01.28.03 2.97.58 5.38 1 9 1s6.03-.42 9-1c.68-.13 2 0 2 2 0 4-4.6 9-11 9S7 26 7 22c0-1.75 1.01-2.07 1.72-2.03zM9 22s2 4 9 4 9-4 9-4-3 1-9 1-9-1-9-1z' /%3E%3C/svg%3E");
  background: var(--interactive-normal);
}
.markup_f8f345 code {
  background-color: var(--background-tertiary);
  border-radius: var(--border-radius-2);
}
.theme-dark .autocomplete-3l_oCd, .theme-dark .autocomplete_bcc24e, .theme-light .autocomplete-3l_oCd, .theme-light .autocomplete_bcc24e {
  background-color: var(--background-tertiary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-1);
}
.autocomplete_bcc24e .selected_c9d951, .embedFull_b0068a {
  background-color: var(--background-tertiary);
}
.theme-dark .selected-3H3-RC {
  background-color: var(--background-modifier-hover);
  border-radius: var(--border-radius-2);
}
.theme-light .selected-3H3-RC {
  background-color: var(--background-modifier-active);
  border-radius: var(--border-radius-2);
}
.categoryHeader_fe2299 {
  background-color: var(--background-secondary);
}
.newMessagesBar_cf58b5, .active_bea3ee {
  background-color: var(--background-accent) !important;
}
.input_f8b740 {
  padding: 0 8px;
}
.jumpToPresentBar_cf58b5, .messagesErrorBar_cf58b5 {
  left: 24px;
  right: 24px;
}
.newMessagesBar_cf58b5, .newMessagesBar_cf58b5:active {
  top: 8px;
  left: 8px;
  right: 8px;
  border-radius: var(--border-radius-2);
  padding: 4px;
}
.messagesErrorBar_cf58b5 {
  background-color: var(--button-destructive);
}
.wrapper_faf5ab, .scrollableContainer_d0696b, .embedFull_b0068a, .wrapper_a71a1c {
  border-radius: var(--border-radius-1);
}
.wrapper_f7e168 {
  border-radius: var(--border-radius-2);
  border: 1px solid var(--border-color);
}
.button_f7e168:active {
  padding: 4px;
}
.channelTextArea_a7d72e .container_ccd3df {
  display: none;
}
.stickerIcon__3ceda>:first-child {
  visibility: visible;
}
.stickerIcon__3ceda>:last-child {
  visibility: hidden;
}
.buttonWrapper_f9af59>svg {
  transform: none !important;
}
.container-3Csys8[aria-label*="Gift"] :is(rect, path:not(:first-child)) {
  display: none;
}
.spoilerText-27bIiA {
  background-color: var(--button-background) !important;
}
.spoilerText-27bIiA.hidden-3B-Rum {
  background-color: var(--background-tertiary) !important;
}
.chatHeaderBar__3e137 {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
}
.sidebar_a4d4d9, .wrapper_d8bfb3 {
  border-radius: var(--border-radius-1) !important;
}
.wrapper_d8bfb3 {
  margin-right: 10px;
}
.containerDefault_a08117 {
  padding: 10px 2px 0 10px;
}
.header_fd6364 {
  border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
}
.modeSelected_d8bfb3 .name_d8bfb3, .modeSelected_d8bfb3 .wrapper_d8bfb3:hover .name_d8bfb3, .modeSelected_d8bfb3 .actionIcon_f6f816, .selected_d808b0 .name_d808b0 {
  color: var(--interactive-selected);
}
.animatedContainer_fd6364 {
  z-index: 2;
  top: 48px;
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
  pointer-events: none;
}
div[style*="height: 16px;"] + div[style="height: 16px;"] {
  display: none;
}
.hasBanner_fd6364~.scroller_c43953 {
  top: 48px;
}
.clickable_fd6364 .header_fd6364:hover, .selected_fd6364 .header_fd6364 {
  background-color: var(--background-modifier-hover);
}
.modeUnreadImportant_d8bfb3>div>a>div>.icon_d8bfb3, .modeUnreadImportant_d8bfb3:hover>div>a>div>.icon_d8bfb3 {
  color: var(--interactive-active);
}
.modeSelected_d8bfb3 .icon_d8bfb3 {
  color: var(--interactive-selected);
}
.modeUnreadImportant_d8bfb3 .icon_d8bfb3>path[d^="M5.88657"], .modeUnreadImportant_d8bfb3 .icon_d8bfb3>path[d^="M14 8C14"] {
  d: path("M8.89 3a.5.5 0 0 0-.5.41L7.77 7H4.18a.5.5 0 0 0-.5.41l-.17 1a.5.5 0 0 0 .5.59h3.4l-1.06 6H2.77a.5.5 0 0 0-.5.41l-.17 1a.5.5 0 0 0 .5.59H6l-.6 3.41a.5.5 0 0 0 .49.59h.98a.5.5 0 0 0 .5-.41L8 17h6l-.6 3.41a.5.5 0 0 0 .49.59h.98a.5.5 0 0 0 .5-.41L16 17h3.58a.5.5 0 0 0 .5-.41l.17-1a.5.5 0 0 0-.5-.59h-3.4l.4-2.22h.02a4.9 4.9 0 0 0 4.9-4.89l-.02-.26v-.04a4.88 4.88 0 0 0-3.36-4.32.49.49 0 0 0-.42-.27h-1.1a4.9 4.9 0 0 0-4.8 4H9.75l.6-3.41A.5.5 0 0 0 9.88 3H8.9zm.52 6h2.6a4.9 4.9 0 0 0 2.8 3.37L14.35 15h-6l1.06-6z");
}
.modeUnreadImportant_d8bfb3 .icon_d8bfb3>path[d^="M21.025"] {
  display: none;
}
.modeUnreadImportant_d8bfb3 .icon_d8bfb3>path[d^="M19.1"], .modeUnreadImportant_d8bfb3 .icon_d8bfb3>path[d^="M3.9"] {
  transform: rotate(-45deg) translate(-12px, 5px);
}
.icon_d8bfb3>path {
  transition: .3s transform;
}
.modeUnreadImportant_d8bfb3 .iconContainer_d8bfb3 {
  background-color: var(--button-background);
  border-radius: 100px;
  padding: 4px;
  margin: 0 2px 0 -4px;
}
.modeUnreadImportant_d8bfb3.typeThread_d8bfb3 .wrapper_d8bfb3::before {
  content: "";
  position: absolute;
  background: var(--interactive-active);
  height: 2px;
  width: 12px;
  left: -14px;
  margin-top: 1px;
}
.modeUnreadImportant_d8bfb3:not(.typeThread_d8bfb3) .mainContent-20q_Hp {
  padding: 2px 0;
}
.unread_d8bfb3 {
  display: none;
}
 emoji picker */
.emojiRow-zIc7ZX .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  opacity: 1;
}
.contentWrapper_af5dbb, .wrapper_e06857, .inspector_c3120f, .bd-emote-header, .emojiPicker_c6ee36 {
  background-color: var(--background-tertiary);
}
.emojiItem_fbfedd, .categoryItemRecentEmoji_dfa278 {
  border-radius: var(--border-radius-2);
}
.emojiPicker_c6ee36, .contentWrapper_af5dbb {
  border-radius: var(--border-radius-1);
}
.navButtonActive_af5dbb {
  background-color: var(--tab-selected);
}
.categoryItemDefaultCategorySelected_dfa278, .categoryItemDefaultCategorySelected_dfa278:hover {
  background-color: var(--background-modifier-active);
}
.header_c6ee36, .header_d8cdac {
  box-shadow: none;
}
@keyframes slideintop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.full-motion .scale-3UGUBw.animatorBottom-L63-7D {
  transition: transform 150ms ease-out, opacity 150ms ease-out, -webkit-transform 150ms ease-out;
  transform: translateY(20px);
  opacity: 1;
  position: relative;
  top: -20px;
}
*:hover {
  transition: background-color 150ms;
}
.closeButton_df5532:active, .animatedContainer_fd6364, .bannerImage_fd6364 {
  transform: none !important;
}
.animating_d4b6c5 {
  transform: scale(1) !important;
}
.root-8LYsGj {
  animation: slideintop 150ms ease-out;
  transform: scale(1) !important;
}
.searchResultsWrap_c2b47d .scroller_c2b47d, .searchResultsWrap_c2b47d .channelName-3w2Y3c {
  background-color: var(--background-tertiary) !important;
}
.react-datepicker, .react-datepicker__header {
  background-color: var(--background-secondary) !important;
}
.react-datepicker__day:first-of-type {
  border-radius: var(--border-radius-2) 0 0 var(--border-radius-2) !important;
}
.react-datepicker__day--fri {
  border-radius: 0 var(--border-radius-2) var(--border-radius-2) 0;
}
.react-datepicker__day:last-of-type, .option-2KkUJO {
  border-radius: var(--border-radius-2) !important;
}
.react-datepicker__day {
  background-color: var(--background-tertiary) !important;
}
.react-datepicker__day--selected:after {
  background-color: var(--accent-color) !important;
}
.datePickerHint-17MnA8 .hintValue-1x-flY, .theme-dark .activeButton-LRWFC_ {
  background-color: var(--accent-color) !important;
  color: var(--interactive-selected) !important;
}
.focused_eedf95.queryContainer_eedf95 {
  background-color: var(--background-modifier-hover);
}
.queryContainer_eedf95 {
  margin: 10px;
  border-radius: var(--border-radius-2);
}
.container_eedf95 {
  background-color: var(--background-tertiary) !important;
  border-radius: var(--border-radius-1);
  border: 1px solid var(--border-color);
}
.option_b0286e:after {
  display: none;
}
.theme-dark .option-2KkUJO.selected-rZcOL- {
  background-color: var(--background-modifier-hover);
}
.tab-2j5AEF.selected-2LAck8 {
  background-color: var(--tab-selected) !important;
}
.layout_d808b0 {
  border-radius: var(--border-radius-2);
}
.members_cbd271, .members_cbd271>div, .tabs-1RhQha, .container-NkLXgf, .contentWrapper-3wXY8L, .contentWrapperInner-17OxmC, .container_cbd271 {
  background-color: var(--background-tertiary);
}
.scroller_c43953 {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
}
.selected_d808b0 .roleColor-nA7BqX, .member_a31c43[aria-expanded="true"].container_d808b0 {
  color: var(--interactive-selected) !important;
}
.botTagRegular_c89c9a {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-selected);
}
.member_a31c43[aria-expanded="true"] .layout_d808b0 {
  background-color: var(--background-modifier-selected);
}
.member_a31c43[aria-expanded="true"].offline_a31c43 {
  opacity: 1;
}
.bannerPlaceholder-edbQI2 {
  border-radius: var(--border-radius-1);
  margin-left: 5px;
}
.popout-1KHNAq, .messagesPopoutWrap_ac90a2, .container_e664f3, .rolePopout_f8f345, .guildPopout-G6M0fK, .emojiSection_e58351, .popout_c5b389, .popout_b705bc, .content-18CuWF, .upsellTooltipWrapper_dafa63 {
  border-radius: var(--border-radius-1);
  border: 1px solid var(--border-color);
}
.option-2eIyOn {
  border-radius: var(--border-radius-1);
  margin: 8px;
}
.sourceThumbnail-3n4cjJ.selected-2BhCFl, .tile-38DNjt:hover .sourceThumbnail-3n4cjJ {
  box-shadow: inset 0 0 0 2px var(--accent-color);
}
.item-2OyinQ:first-child {
  border-radius: var(--border-radius-2) 0 0 var(--border-radius-2);
}
.item-2OyinQ:last-child {
  border-radius: 0px var(--border-radius-2) var(--border-radius-2) 0px;
}
.selectorButtonSelected-3Z0WNU {
  background-color: var(--background-modifier-selected);
}
.selectorTextSelected-6vUbIH {
  color: var(--interactive-selected);
}
.selectorButton-3sW6Qm:not(.selectorButtonPremiumRequired-2pGGEj):hover, .row_c5b389:hover {
  background-color: var(--background-modifier-hover);
}
.root_f9a4c9:not(.popout_e6af9c, .container_f4e139), .footer-31IekZ, .root_f9a4c9 .avatarUploaderInner-KkYu-S, .uploadModal_f82cc7, .footer_f82cc7, .container_e664f3, .container_e664f3 .icon_ebd74a, .messagesPopoutWrap_ac90a2, .header_ac90a2, .popout_e6af9c, .header_f0cd33 .button__292b6, .container_b0914a, .container_b0914a .icon_b0914a, .modal_a74b6f, .guildSidebar_a74b6f, .contentWrapper_ed5743m, .recentMentionsPopout_ddb5b4 .scroller_f1c3d9, .authBox_dc6abe, .popout_b705bc, .guildPopout-G6M0fK, .footer-3YL3ds, .iconMask-1lJhcS, .container-3GP6AV, .content-18CuWF, .uploadDropModal_f82cc7, .modalHeader-1hF3w-, .modalBody-3-seO3 {
  background-color: var(--background-tertiary) !important;
}
.message_ddcc45, .messageGroupCozy_ac90a2, .container_ddb5b4 .button__292b6, .tooltipBrand-20XsMA, .channel_d09ffd, .fileUpload-MFkgW2, .popout_c5b389, .upsellTooltipWrapper_dafa63 {
  background-color: var(--background-secondary) !important;
}
.addMemberRow_a0cc0d.selectedRow_a0cc0d {
  background-color: var(--background-modifier-hover);
}
.messageGroupWrapper_ac90a2 {
  margin: 0 10px 10px 4px;
  background-color: var(--background-tertiary);
  border-radius: var(--border-radius-1);
}
.messageGroupCozy_ac90a2, .table-17_dGF, .formFieldWrapper-2LV3S6, .channel_d09ffd, .video-1j0A3v, .fileUpload-MFkgW2, .authBox_dc6abe, .card-8UsK4b, .container-3GP6AV, .modalContent-1I0U-j, .uploadDropModal_f82cc7, .card-2EUiNF {
  border-radius: var(--border-radius-1);
}
.header_ac90a2 {
  box-shadow: none;
}
.channelHeader_f3978e, .header-1zd7se {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
  margin-left: 16px;
}
.messageContainer_ddb5b4, .footer-31IekZ {
  border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
}
.container_ddb5b4 .button__292b6, .addMemberRow_a0cc0d {
  margin-right: 12px;
}
.exampleRule-3gJ39X, .row_c5b389, .addMemberRow_a0cc0d {
  border-radius: var(--border-radius-2);
}
.tooltipBrand-20XsMA {
  border: 1px solid var(--border-color);
}
.added-2hLRj3:after {
  background-color: var(--text-positive);
}
.progress-YsDrV-:after {
  background-color: var(--text-warning);
}
.scroller_f1c3d9 .channelHeader_f3978e {
  margin: 0 16px;
}
.scroller_f1c3d9 {
  padding: 0 16px 16px 16px !important;
}
.channel_d09ffd {
  padding: 0;
  margin-bottom: 16px;
}
.modal-2LBig1 {
  --channeltextarea-background: var(--background-secondary);
}
.contentCircle-15IFyT, .optionBox-1UOevl, .optionBox-1UOevl:hover .contentCircle-15IFyT {
  border: none;
}
.contentCircle-15IFyT {
  transition: filter 150ms;
}
.optionBox-1UOevl:hover .contentCircle-15IFyT {
  filter: brightness(0.5);
}
.stepContainer-3L3EXG .progressBar-18rmp1 {
  background-color: var(--brand-experiment);
}
.content-2hZxGK {
  padding-right: 16px !important;
}
.card_dedfd1.inModal_dedfd1 {
  padding: 4px 16px 8px;
}
.reaction_f61c73 {
  border: 1px solid var(--border-color);
  border-radius: 50px;
}
.reactionDefault_f2bfbb, .reactionSelected_f2bfbb {
  border-radius: var(--border-radius-2);
}
.reactionSelected_f2bfbb {
  background-color: var(--background-modifier-selected) !important;
}
.reactionSelected_f2bfbb .colorStandard-21JIj7 {
  color: var(--interactive-selected);
}
.reactionDefault_f2bfbb:hover {
  background-color: var(--background-modifier-hover) !important;
}
.scroller_f2bfbb, .reactors_f2bfbb {
  padding-right: 8px !important;
}
.scroller_f2bfbb, .reactors_f2bfbb {
  background-color: var(--background-tertiary) !important;
}
.remove_f2bfbb {
  color: var(--settings-icon-color) !important;
}
.remove_f2bfbb:hover {
  background-color: transparent !important;
  color: var(--text-normal) !important;
}
.scroller_c47fa9 {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
}
.emptyCard_f02fcf {
  border-radius: var(--border-radius-1);
}
.interactive_c91bad {
  border-radius: var(--border-radius-2);
}
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .interactiveSelected_c91bad {
  background-color: var(--background-modifier-selected) !important;
  color: var(--interactive-selected) !important;
}
.childWrapper_a6ce15 {
  color: var(--accent-color);
}
.section_cd82a7, .inset_ac5d22, .container-S9SaVf {
  background-color: var(--background-tertiary) !important;
}
.searchBar_e0840f {
  margin: 20px 20px 0;
}
.perksModal-1pSu7w {
  background-color: var(--background-tertiary) !important;
}
.progressBarContainer_c75f85 {
  background-color: var(--background-modifier-hover) !important;
}
.ctaBar-2nFzdG {
  border-radius: var(--border-radius-1);
  background-image: none !important;
}
.perk-2WeBWW, :is(.tier-12tKuZ, .tier-3H4BXk, .tier_da77bd, .tier-2dzRPr)>div {
  background-color: var(--background-secondary) !important;
}
.tierHeader---JJFb, .tierHeader-rlkkJd, .tierHeader_da77bd, .tierHeader-3YAxb0 {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
}
.tierBody-16Chc9, .tierBody-x9kBBp, .tierBody_da77bd, .tier_da77bd>:last-child, .tierBody-3gjrjH {
  border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
}
.tierMarkerLabelPlusIcon-2zLkr7 {
  color: var(--accent-color);
}
.subscribeTooltipWrapper-3ipXtC, .card-2gdrYL, .banner-3Kac2g {
  border-radius: var(--border-radius-1);
}
.banner-3Kac2g {
  max-width: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.hero-1aNo0v {
  max-width: none;
}
.featurePremiumGuild-2uV6-N .featureImage-91H2fC {
  width: 184px;
  border-radius: 0 0 var(--border-radius-1) 0;
}
.tierMarkerLabelText-1wk8KK:not(.isAccomplished-2NcqRT):hover, .tierMarkerLabelText-1wk8KK:not(.isAccomplished-2NcqRT):hover>svg, .tierUnlocked-25K6Kv, .iconWrapper__5b9db {
  color: var(--interactive-selected) !important;
}
.iconWrapper__5b9db {
  background: var(--background-modifier-selected);
}
.subscribeTooltipWrapper-3ipXtC {
  background-color: var(--background-tertiary);
  border: 1px solid var(--border-color);
}
.guild-Hq0WWA {
  border-radius: var(--border-radius-1);
}
.guildHeaderBackground-1G51bM {
  background-image: none !important;
}
.guildHeader-3nh5RK {
  background-color: var(--background-secondary);
}
.subscriptionDetails-3u1CML {
  border: none;
}
.bannerBackgroundImage-1DMjWi {
  background-position: center;
}
.tierHeaderWithoutCardBody_da77bd {
  margin-bottom: 0;
}
.serverBoostTabItem_f7189e .icon_f7189e {
  display: none;
}
.keyboardShortcutsModal_ad95dc {
  background-color: var(--background-tertiary) !important;
  border-radius: var(--border-radius-1);
}
.keybindShortcut-3zF1P9 span {
  background-color: var(--background-accent);
  color: var(--text-normal) !important;
  box-shadow: none !important;
  border-color: var(--background-accent);
  padding: 4px 8px;
  height: auto;
}
.ddrArrows_ad95dc {
  display: none;
}
.keybindDescription_c0b6a8 {
  color: var(--text-muted) !important;
}
.notice-2olXi7 {
  background-color: var(--background-tertiary);
}
.tooltip-14MtrL {
  border-radius: var(--border-radius-1);
  background-color: var(--background-tertiary);
  border: 1px solid var(--border-color);
}
.button-YGmtzG {
  border-color: var(--button-background) !important;
  background-color: var(--button-background);
}
.button-YGmtzG:hover {
  background-color: var(--button-background-hover);
}
.button-YGmtzG:active {
  background-color: var(--button-background-active);
}
.container-3ssFyj {
  border-radius: var(--border-radius-1);
  border: 1px solid var(--border-color);
}
.container-3ssFyj .selected-22ukbQ {
  background-color: var(--background-modifier-active);
}
.quickswitcher_f4e139, .scroller_f4e139 {
  background-color: var(--background-tertiary) !important;
}
.quickswitcher_f4e139 {
  border-radius: var(--border-radius-1);
}
.quickswitcher_f4e139 .input_f4e139 {
  box-shadow: none;
}
.quickswitcher_f4e139 .input_f4e139:focus {
  border: 1px solid var(--accent-color);
}
.quickswitcher_f4e139 .scroller_f4e139 {
  margin-right: unset;
}
.resultFocused-3aIoYe .username_e3c1c6, .resultFocused-3aIoYe .miscContainer_f4e139 {
  color: var(--interactive-selected);
}
.result_e3c1c6 {
  border-radius: var(--border-radius-2);
}
.result_e3c1c6[aria-selected=true] {
  background: var(--background-modifier-hover);
}
.powercord-toast, .powercord-toast .header, .powercord-toast .inner {
  background-color: var(--background-primary) !important;
}
.powercord-toast .inner {
  border: none !important;
}
.powercord-toast, .powercord-toast .header {
  border-radius: var(--border-radius-1) !important;
  box-shadow: none !important;
}
.bg-8df5St {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
}
.inner-6Fsw34 {
  color: var(--text-normal) !important;
}
.toast-g4bfgI {
  border-radius: var(--border-radius-1);
}
::-webkit-scrollbar {
  display: var(--scrollbars);
}
.theme-dark, .theme-light {
  --scrollbar-auto-track: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-accent) !important;
}
.menu_d90b3d ::-webkit-scrollbar {
  display: unset;
}
:root {
  --spotify-color: var(--accent-color) !important;
}
.container-6sXIoE .button_adca65.active-6TsW-_ {
  background-color: var(--background-accent);
}
.container-6sXIoE .button_adca65 {
  color: var(--interactive-normal) !important;
}
.container-6sXIoE.maximized-vv2Wr0 .cover-SwJ-ck, .playlist, .modal_c97cbd {
  border-radius: var(--border-radius-1);
}
.timeline-UWmgAx:hover .barFill-Dhkah7 {
  background: var(--text-normal);
}
.grabber-7sd5f5 {
  margin-top: -4px;
  display: block;
  background: var(--background-secondary);
  border: 2px solid var(--text-normal);
}
.grabber-7sd5f5:active {
  background: var(--text-normal);
}
.barFill-2Bh7CX {
  background-color: var(--background-modifier-selected) !important;
}
.volumeSlider-sR5g00 .grabber-2GQyvM {
  width: 10px;
  margin-top: -8px;
  margin-left: 0;
}
.timeline-UWmgAx {
  margin: 16px 0 0;
}
.powercord-spotify .spotify-extra-controls .active {
  background-color: var(--background-accent);
  padding: 8px 6px;
  border-radius: var(--border-radius-2);
}
.powercord-spotify .spotify-seek-bar-cursor {
  opacity: 1 !important;
  background: var(--background-secondary) !important;
  border-color: var(--text-normal);
}
.modal_c97cbd {
  background-color: var(--background-tertiary) !important;
}
.track img, .playlist img {
  border-radius: var(--border-radius-2);
}
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input, .monaco-editor .margin {
  background-color: var(--background-primary) !important;
}
.floating-window-titlebar {
  background: var(--background-primary);
  cursor: move;
}
.floating-window-buttons .close-button:hover {
  background: var(--button-destructive-hover);
}
#bd-editor-controls {
  border-radius: var(--border-radius-1) var(--border-radius-1) 0 0;
}
.monaco-editor, .overflow-guard {
  border-radius: 0 0 var(--border-radius-1) var(--border-radius-1);
}
.monaco-editor .scroll-decoration, .monaco-editor .minimap {
  display: none;
}
#floating-editor-window, .powercord-quickcss:not(.popout) {
  border-radius: var(--border-radius-1);
}
#floating-editor-window {
  border: 1px solid var(--border-color);
}
.monaco-editor .slider {
  border-radius: 12px;
  background: var(--background-accent) !important;
}
.monaco-editor .scrollbar, .decorationsOverviewRuler {
  display: var(--scrollbars);
  background: var(--background-primary) !important;
}
.powercord-quickcss {
  height: 100% !important;
  min-height: 350px;
}
.tile_dc5fc4, .tileContainer_e1522e {
  border-radius: var(--border-radius-1);
}
.scroller_bb12d2, .root_dd069c, .container_fc4f04 {
  background-color: var(--background-tertiary) !important;
}
.rowContainer_f3a5b1 {
  margin-bottom: 0;
  padding-bottom: 8px;
}
.container-3r7mfc {
  padding-top: 48px;
  margin-top: 48px;
}
.scroller_bb12d2 .content-2a4AW9 {
  background-color: var(--background-primary);
  padding: 0 16px 16px;
  border-radius: var(--border-radius-1);
}
.tileContainer_e1522e {
  margin: 0 5px;
}
.tileContainer_e1522e:first-child {
  margin-left: 0;
}
.tileContainer_e1522e:last-child {
  margin-right: 0;
}
.tileContainer_e1522e:hover {
  background-color: var(--background-modifier-hover);
}
.participants_a07d72 {
  margin-bottom: 10px;
}
.scroller_bb12d2 {
  margin-right: 16px;
}
.border_ba4b17.speaking_ba4b17 {
  box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px var(--accent-color) !important;
}
.leaveQuietlyButton-3Vhswc {
  border-radius: 28px !important;
}
.iconLive_dce222 {
  color: var(--text-normal) !important;
}
.wrapper_d8bfb3.modeSelected_d8bfb3 .iconLive_dce222 {
  color: var(--interactive-selected) !important;
}
.connected-2MF1ew {
  border-color: var(--accent-color);
}
:root {
  --outdated-122: none !important;
}
body:not(.powercord) .panels_a4d4d9::before {
  content: "Please update to Zelk v1.2.2";
  font-weight: 600;
  color: var(--text-normal);
  text-align: center;
  height: 10px;
  display: var(--outdated-122);
  background-color: var(--background-primary);
  padding: 10px 0 30px;
  border-top: 1px solid var(--border-color);
}
body:not(.powercord) .panels_a4d4d9::after {
  content: "Download from betterdiscord.app/theme/zelk\AGet support at discord.gg/tMEcBhsNqA";
  white-space: pre;
  font-size: 12px;
  color: var(--text-muted);
  text-align: center;
  position: relative;
  top: -74px;
  width: 100%;
  height: 0;
  display: var(--outdated-122);
}
.wrapper_adcaac {
  z-index: 1;
  background-color: var(--background-primary);
  bottom: -3px;
}
.sidebarRegion_c25c6d {
  max-width: unset !important;
}
.gm-store-settings>:nth-child(5).gm-inline-dropdown {
  margin-right: 50px;
}
.gm-store-search {
  background-color: var(--background-secondary);
  padding: 3px;
}
.gm-store-card {
  box-shadow: none !important;
}
#gm-settings-inject {
  margin: 0 10px;
  border-radius: var(--border-radius-1);
}
#gm-settings-inject .gm-store-card, #gm-settings-inject .gm-store-card> :nth-child(1) {
  background-color: var(--background-tertiary);
}
.gm-store-settings ::-webkit-scrollbar, #gm-settings-inject ::-webkit-scrollbar {
  display: unset;
}
:root {
  --focus-primary: var(--accent-color);
}
.highlight {
  background: var(--background-accent);
}
.item-2idW98[aria-checked=true] .colorStandard-21JIj7, .resultFocused-3aIoYe .match_e3c1c6, .resultFocused-3aIoYe .iconContainer_e3c1c6>svg {
  color: var(--interactive-selected);
}
.inputWrapper-1YNMmM:not(.emojiAliasInput_dc1809), .inputMini-Un2tP4, .copyInputDefault_e19ebf, .input_f4e139, .select-1Ia3hD, .card-1SdQ2- {
  background-color: var(--background-secondary) !important;
  border-radius: var(--border-radius-1);
}
.wrapper_cd82a7, .container_effbe2, .root_f9a4c9 {
  border-radius: var(--border-radius-1);
}
.colorPickerCustom-1swUKF {
  background: var(--background-secondary) !important;
  border-color: var(--border-color) !important;
  padding: 10px;
  border-radius: var(--border-radius-1);
}
.hljs-comment, .hljs-quote {
  color: var(--text-muted);
  opacity: .5;
}
.noticeWrapper-8z511t .button__33db6, .notice_dd5a33 .button_dd5a33 {
  background-color: var(--button-background);
  border-color: var(--button-background);
  color: var(--text-normal) !important;
}
.noticeWrapper-8z511t .button__33db6:hover, .notice_dd5a33 .button_dd5a33:hover {
  background-color: var(--button-background-hover);
  border-color: var(--button-background-hover);
}
:root {
  --bdfdb-green: var(--button-accent);
  --bdfdb-red: var(--button-destructive);
}
.card-x5zW6z {
  border-radius: var(--border-radius-1);
  border: 1px solid var(--border-color) !important;
}
.card-x5zW6z:focus, .card-x5zW6z:hover {
  box-shadow: none;
  background-color: var(--background-modifier-hover);
}
.card-x5zW6z:focus .coverWrapper-J-mDGJ, .card-x5zW6z:hover .coverWrapper-J-mDGJ, .card-x5zW6z:focus, .card-x5zW6z:hover {
  transform: none;
}
.button-coQXfM {
  background-color: var(--button-accent);
  color: var(--interactive-selected);
  border-radius: var(--border-radius-2);
}
.notice__5fd4c {
  background-color: var(--background-tertiary);
  box-shadow: none;
}
.repoHeader-2KfNvH> :first-child {
  margin-bottom: 10px;
}
.bf-toolbar {
  color: var(--text-color) ! important;
  min-height: 32px;
}
.bf-toolbar::before {
  background: var(--background-secondary) !important;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-2) !important;
  width: calc(100% - 2px) !important;
}
.bf-toolbar .format {
  padding: 4px !important;
  max-height: 32px !important;
  border-radius: var(--border-radius-2) !important;
}
.bf-toolbar .format:hover {
  background: var(--background-modifier-hover) !important;
}
.bf-toolbar .format:active {
  background: var(--background-modifier-active) !important;
}
.childWrapper_a6ce15:has(> svg:not(.favoriteIcon_dcc7a4)) {
    background: url('https://avatars.githubusercontent.com/u/110314566?v=4');
    background-color: transparent !important;
    background-size: cover;
}
